<NavLink class="nav-link" href="@($"chats/{Id}")">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@Name</h5>
        </div>
    </div>

</NavLink>

@code {

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Name { get; set; }

}